-- ============================================================
-- SmartAi Attendance by 3SL Media Labs
-- Railway PostgreSQL Schema — Multi-Tenant
-- ============================================================

-- Enable UUID generation
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- ============================================================
-- ORGANIZATIONS
-- ============================================================
CREATE TABLE organizations (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name        TEXT NOT NULL,
  code        TEXT UNIQUE NOT NULL, -- short code e.g. "ACME"
  logo_url    TEXT,
  plan        TEXT DEFAULT 'basic' CHECK (plan IN ('basic','pro','enterprise')),
  is_active   BOOLEAN DEFAULT true,
  created_at  TIMESTAMPTZ DEFAULT now(),
  updated_at  TIMESTAMPTZ DEFAULT now()
);

-- ============================================================
-- ORG SETTINGS (one row per org — all configurable per org)
-- ============================================================
CREATE TABLE org_settings (
  id                          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id                      UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  grace_period_mins           INT DEFAULT 15,
  late_deduction_per_occ      NUMERIC(10,2) DEFAULT 50,
  max_allowed_lates_per_month INT DEFAULT 3,
  excess_late_penalty         NUMERIC(10,2) DEFAULT 100,
  unauth_leave_penalty        NUMERIC(10,2) DEFAULT 200,
  no_show_penalty             NUMERIC(10,2) DEFAULT 250,
  casual_leave_per_month      NUMERIC(4,1) DEFAULT 1.5,
  auto_checkout_time          TIME DEFAULT '18:00',
  min_working_hours           NUMERIC(4,1) DEFAULT 8,
  working_days_per_month      INT DEFAULT 26,
  geo_fence_radius_meters     INT DEFAULT 200,
  currency_symbol             TEXT DEFAULT '₹',
  created_at                  TIMESTAMPTZ DEFAULT now(),
  updated_at                  TIMESTAMPTZ DEFAULT now(),
  UNIQUE(org_id)
);

-- ============================================================
-- BRANCHES
-- ============================================================
CREATE TABLE branches (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id      UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  name        TEXT NOT NULL,
  address     TEXT,
  lat         NUMERIC(10,7),
  lng         NUMERIC(10,7),
  radius      INT DEFAULT 200,
  is_active   BOOLEAN DEFAULT true,
  created_at  TIMESTAMPTZ DEFAULT now(),
  updated_at  TIMESTAMPTZ DEFAULT now()
);

-- ============================================================
-- USERS (super_admin lives here too, with org_id = NULL)
-- ============================================================
CREATE TABLE users (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id          UUID REFERENCES organizations(id) ON DELETE CASCADE,
  branch_id       UUID REFERENCES branches(id) ON DELETE SET NULL,
  name            TEXT NOT NULL,
  phone           TEXT NOT NULL,
  password_hash   TEXT NOT NULL, -- bcrypt hash
  role            TEXT NOT NULL CHECK (role IN ('super_admin','org_admin','branch_admin','employee')),
  designation     TEXT,
  salary          NUMERIC(12,2) DEFAULT 0,
  default_shift_id UUID, -- FK added after shift_templates table
  is_active       BOOLEAN DEFAULT true,
  last_login_at   TIMESTAMPTZ,
  created_at      TIMESTAMPTZ DEFAULT now(),
  updated_at      TIMESTAMPTZ DEFAULT now(),
  UNIQUE(phone)
);

-- ============================================================
-- SHIFT TEMPLATES (per org)
-- ============================================================
CREATE TABLE shift_templates (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id      UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  name        TEXT NOT NULL,
  start_time  TIME NOT NULL,
  end_time    TIME NOT NULL,
  break_mins  INT DEFAULT 60,
  color       TEXT DEFAULT '#3b82f6',
  is_active   BOOLEAN DEFAULT true,
  created_at  TIMESTAMPTZ DEFAULT now()
);

-- Now add FK from users to shift_templates
ALTER TABLE users ADD CONSTRAINT fk_default_shift
  FOREIGN KEY (default_shift_id) REFERENCES shift_templates(id) ON DELETE SET NULL;

-- ============================================================
-- SHIFT SCHEDULES (bulk + override, per employee per date)
-- ============================================================
CREATE TABLE shift_schedules (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id          UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  employee_id     UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  shift_id        UUID NOT NULL REFERENCES shift_templates(id) ON DELETE CASCADE,
  date            DATE NOT NULL,
  is_override     BOOLEAN DEFAULT false,
  override_note   TEXT,
  overridden_by   UUID REFERENCES users(id) ON DELETE SET NULL,
  source          TEXT DEFAULT 'bulk' CHECK (source IN ('bulk','override','request')),
  created_at      TIMESTAMPTZ DEFAULT now(),
  UNIQUE(employee_id, date, is_override)  -- one schedule + one override per day
);

-- ============================================================
-- SHIFT REQUESTS (employee → manager)
-- ============================================================
CREATE TABLE shift_requests (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id              UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  employee_id         UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  manager_id          UUID REFERENCES users(id) ON DELETE SET NULL,
  requested_shift_id  UUID NOT NULL REFERENCES shift_templates(id) ON DELETE CASCADE,
  date                DATE NOT NULL,
  note                TEXT,
  status              TEXT DEFAULT 'pending' CHECK (status IN ('pending','approved','rejected')),
  decided_by          UUID REFERENCES users(id) ON DELETE SET NULL,
  decided_at          TIMESTAMPTZ,
  created_at          TIMESTAMPTZ DEFAULT now()
);

-- ============================================================
-- ATTENDANCE RECORDS
-- ============================================================
CREATE TABLE attendance_records (
  id                UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id            UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  employee_id       UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  branch_id         UUID REFERENCES branches(id) ON DELETE SET NULL,
  shift_id          UUID REFERENCES shift_templates(id) ON DELETE SET NULL,
  date              DATE NOT NULL,
  check_in_time     TIME,
  check_out_time    TIME,
  worked_mins       INT,
  is_late           BOOLEAN DEFAULT false,
  late_mins         INT DEFAULT 0,
  approval_status   TEXT DEFAULT 'approved' CHECK (approval_status IN ('approved','pending','rejected')),
  geo_verified      BOOLEAN DEFAULT false,
  geo_lat           NUMERIC(10,7),
  geo_lng           NUMERIC(10,7),
  admin_edited      BOOLEAN DEFAULT false,
  edited_by         UUID REFERENCES users(id) ON DELETE SET NULL,
  edited_at         TIMESTAMPTZ,
  auto_checkout     BOOLEAN DEFAULT false,
  notes             TEXT,
  created_at        TIMESTAMPTZ DEFAULT now(),
  updated_at        TIMESTAMPTZ DEFAULT now(),
  UNIQUE(employee_id, date)  -- one record per employee per day
);

-- ============================================================
-- LATE APPROVALS
-- ============================================================
CREATE TABLE late_approvals (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id          UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  record_id       UUID NOT NULL REFERENCES attendance_records(id) ON DELETE CASCADE,
  employee_id     UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  manager_id      UUID REFERENCES users(id) ON DELETE SET NULL,
  late_mins       INT NOT NULL,
  shift_name      TEXT,
  status          TEXT DEFAULT 'pending' CHECK (status IN ('pending','approved','rejected')),
  decided_by      UUID REFERENCES users(id) ON DELETE SET NULL,
  decided_at      TIMESTAMPTZ,
  created_at      TIMESTAMPTZ DEFAULT now()
);

-- ============================================================
-- LEAVES
-- ============================================================
CREATE TABLE leaves (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  org_id      UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  employee_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  date        DATE NOT NULL,
  type        TEXT NOT NULL CHECK (type IN ('casual','unauthorized','noshow','sick','half_day')),
  reason      TEXT,
  recorded_by UUID REFERENCES users(id) ON DELETE SET NULL,
  created_at  TIMESTAMPTZ DEFAULT now()
);

-- ============================================================
-- AUTH SESSIONS (simple JWT tracking)
-- ============================================================
CREATE TABLE auth_sessions (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id     UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  token_hash  TEXT NOT NULL,
  expires_at  TIMESTAMPTZ NOT NULL,
  created_at  TIMESTAMPTZ DEFAULT now()
);

-- ============================================================
-- INDEXES for performance
-- ============================================================
CREATE INDEX idx_branches_org           ON branches(org_id);
CREATE INDEX idx_users_org              ON users(org_id);
CREATE INDEX idx_users_phone            ON users(phone);
CREATE INDEX idx_users_branch           ON users(branch_id);
CREATE INDEX idx_shift_tmpl_org         ON shift_templates(org_id);
CREATE INDEX idx_schedules_emp_date     ON shift_schedules(employee_id, date);
CREATE INDEX idx_schedules_org_date     ON shift_schedules(org_id, date);
CREATE INDEX idx_attendance_emp_date    ON attendance_records(employee_id, date);
CREATE INDEX idx_attendance_org_date    ON attendance_records(org_id, date);
CREATE INDEX idx_attendance_date        ON attendance_records(date);
CREATE INDEX idx_leaves_emp_date        ON leaves(employee_id, date);
CREATE INDEX idx_approvals_manager      ON late_approvals(manager_id, status);
CREATE INDEX idx_shift_req_manager      ON shift_requests(manager_id, status);
CREATE INDEX idx_sessions_user          ON auth_sessions(user_id);
CREATE INDEX idx_sessions_token         ON auth_sessions(token_hash);

-- ============================================================
-- UPDATED_AT TRIGGER
-- ============================================================
CREATE OR REPLACE FUNCTION set_updated_at()
RETURNS TRIGGER AS $$
BEGIN NEW.updated_at = now(); RETURN NEW; END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_org_updated        BEFORE UPDATE ON organizations        FOR EACH ROW EXECUTE FUNCTION set_updated_at();
CREATE TRIGGER trg_settings_updated   BEFORE UPDATE ON org_settings         FOR EACH ROW EXECUTE FUNCTION set_updated_at();
CREATE TRIGGER trg_users_updated      BEFORE UPDATE ON users                FOR EACH ROW EXECUTE FUNCTION set_updated_at();
CREATE TRIGGER trg_attendance_updated BEFORE UPDATE ON attendance_records   FOR EACH ROW EXECUTE FUNCTION set_updated_at();

-- ============================================================
-- AUTO-CHECKOUT FUNCTION (call via cron every minute)
-- ============================================================
CREATE OR REPLACE FUNCTION run_auto_checkout()
RETURNS void AS $$
DECLARE
  r RECORD;
  now_time TIME := (NOW() AT TIME ZONE 'Asia/Kolkata')::TIME;
  now_date DATE := (NOW() AT TIME ZONE 'Asia/Kolkata')::DATE;
BEGIN
  FOR r IN
    SELECT
      ar.id AS record_id,
      ar.employee_id,
      ar.org_id,
      ar.check_in_time,
      st.end_time,
      st.id AS shift_id,
      EXTRACT(EPOCH FROM (now_time - ar.check_in_time))/60 AS worked_mins
    FROM attendance_records ar
    JOIN shift_schedules ss
      ON ss.employee_id = ar.employee_id AND ss.date = ar.date
    JOIN shift_templates st ON st.id = ss.shift_id
    WHERE ar.date = now_date
      AND ar.check_out_time IS NULL
      AND ar.check_in_time IS NOT NULL
      AND st.end_time <= now_time
      AND st.end_time > (now_time - INTERVAL '2 minutes')
  LOOP
    UPDATE attendance_records
    SET
      check_out_time = now_time,
      worked_mins    = GREATEST(0, r.worked_mins::INT),
      auto_checkout  = true,
      updated_at     = now()
    WHERE id = r.record_id;
  END LOOP;
END;
$$ LANGUAGE plpgsql;

-- ============================================================
-- SEED DATA — Super Admin + 2 Organizations
-- ============================================================

-- Insert super admin (password: superadmin123 — change this!)
INSERT INTO users (id, org_id, name, phone, password_hash, role, designation)
VALUES (
  '00000000-0000-0000-0000-000000000001',
  NULL,
  'Super Admin',
  '9999999999',
  '$2b$10$rOzJqQ3K9X2jY5mN8pL1HuQwE6vT4sA7dB0cF9gR3hI2jK8mP5nL6', -- superadmin123
  'super_admin',
  'Platform Owner'
);

-- Org A
INSERT INTO organizations (id, name, code) VALUES
  ('aaaaaaaa-0000-0000-0000-000000000001', 'Acme Corp', 'ACME');
INSERT INTO org_settings (org_id) VALUES ('aaaaaaaa-0000-0000-0000-000000000001');

-- Org B
INSERT INTO organizations (id, name, code) VALUES
  ('bbbbbbbb-0000-0000-0000-000000000001', 'Beta Industries', 'BETA');
INSERT INTO org_settings (org_id) VALUES ('bbbbbbbb-0000-0000-0000-000000000001');

-- Branches for Org A
INSERT INTO branches (id, org_id, name, address, lat, lng, radius) VALUES
  ('aaaaaaaa-0000-0000-0000-000000000011', 'aaaaaaaa-0000-0000-0000-000000000001', 'Mumbai HQ',     'BKC, Mumbai',          19.0600, 72.8650, 200),
  ('aaaaaaaa-0000-0000-0000-000000000012', 'aaaaaaaa-0000-0000-0000-000000000001', 'Pune Branch',   'Hinjewadi, Pune',      18.5913, 73.7389, 200),
  ('aaaaaaaa-0000-0000-0000-000000000013', 'aaaaaaaa-0000-0000-0000-000000000001', 'Delhi Office',  'Connaught Place, Delhi',28.6315, 77.2167, 200);

-- Branches for Org B
INSERT INTO branches (id, org_id, name, address, lat, lng, radius) VALUES
  ('bbbbbbbb-0000-0000-0000-000000000011', 'bbbbbbbb-0000-0000-0000-000000000001', 'Chennai HQ',    'Anna Nagar, Chennai',  13.0843, 80.2705, 200),
  ('bbbbbbbb-0000-0000-0000-000000000012', 'bbbbbbbb-0000-0000-0000-000000000001', 'Bangalore',     'Whitefield, Bengaluru', 12.9698, 77.7499, 200);

-- Default shift templates for Org A
INSERT INTO shift_templates (org_id, name, start_time, end_time, break_mins, color) VALUES
  ('aaaaaaaa-0000-0000-0000-000000000001', 'Day',          '09:00', '18:00', 60, '#3b82f6'),
  ('aaaaaaaa-0000-0000-0000-000000000001', 'Early Morning','07:00', '19:00', 60, '#f59e0b'),
  ('aaaaaaaa-0000-0000-0000-000000000001', 'Evening',      '14:00', '22:00', 30, '#8b5cf6'),
  ('aaaaaaaa-0000-0000-0000-000000000001', 'Night',        '22:00', '06:00', 60, '#6366f1'),
  ('aaaaaaaa-0000-0000-0000-000000000001', 'Split 10–10',  '10:00', '22:00', 60, '#ec4899');

-- Default shift templates for Org B
INSERT INTO shift_templates (org_id, name, start_time, end_time, break_mins, color) VALUES
  ('bbbbbbbb-0000-0000-0000-000000000001', 'Day',          '09:00', '18:00', 60, '#3b82f6'),
  ('bbbbbbbb-0000-0000-0000-000000000001', 'Evening',      '14:00', '22:00', 30, '#8b5cf6'),
  ('bbbbbbbb-0000-0000-0000-000000000001', 'Night',        '22:00', '06:00', 60, '#6366f1');

-- Org A admin user (password: admin123)
INSERT INTO users (org_id, branch_id, name, phone, password_hash, role, designation, salary) VALUES
  ('aaaaaaaa-0000-0000-0000-000000000001','aaaaaaaa-0000-0000-0000-000000000011','Sunita Rao','9000000001','$2b$10$rOzJqQ3K9X2jY5mN8pL1HuQwE6vT4sA7dB0cF9gR3hI2jK8mP5nL6','branch_admin','Branch Manager',75000);

-- Org B admin user (password: admin123)
INSERT INTO users (org_id, branch_id, name, phone, password_hash, role, designation, salary) VALUES
  ('bbbbbbbb-0000-0000-0000-000000000001','bbbbbbbb-0000-0000-0000-000000000011','Ravi Kumar','9000000002','$2b$10$rOzJqQ3K9X2jY5mN8pL1HuQwE6vT4sA7dB0cF9gR3hI2jK8mP5nL6','branch_admin','Branch Manager',80000);